.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 250px;
  grid-gap: 7px;
  max-width: 1440px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.portfolio-grid-item img {
  width: 100%;
  cursor: pointer;
}

.portfolio-heading {
  margin-top: 50px;
  text-align: center;
}
.portfolio-grid-item-last {
  padding-top: 120px;
  font-size: 1rem;
}

.bottom-text {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 550px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
